/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #232323;
  font-size: 16px;
  font-family: "nitti_light", sans-serif;
  line-height: 1.3em;
}
@media only screen and (max-width: 960px) {
  body {
    font-size: 15px;
    line-height: 1.1em;
  }
}

header {
  color: #232323;
  position: absolute;
  right: 40px;
  top: 60px;
  z-index: 99999;
  text-align: right;
  line-height: 1.3em;
}
@media only screen and (max-width: 960px) {
  header {
    right: 25px;
    top: 40px;
  }
}
header h1 {
  font-size: 1.3em;
  font-family: "nitti_medium", sans-serif;
  margin-top: 0.3em;
}
@media only screen and (max-width: 960px) {
  header h1 {
    font-size: 1em;
  }
}
header h2 {
  font-size: 1.3em;
  font-family: "nitti_light", sans-serif;
  margin-top: 0.3em;
}
@media only screen and (max-width: 960px) {
  header h2 {
    font-size: 1em;
  }
}
header p {
  line-height: 2em;
  color: #232323;
  text-decoration: none;
}
@media only screen and (max-width: 960px) {
  header p {
    font-size: 0.8em;
  }
}
header img {
  width: 60px;
}
@media only screen and (max-width: 960px) {
  header img {
    width: 40px;
  }
}

#slide1, #slide2, #slide3 {
  background-color: white;
  border-right: solid 1px white;
  color: #232323;
}

#slide1 {
  border-top: solid 23px #232323;
}

#slide2 {
  border-top: solid 23px #7bb000;
}

#slide3 {
  border-top: solid 23px #e90d8a;
}

div.project {
  margin: 5em auto 0;
  width: 960px;
  max-width: 960px;
}
@media only screen and (max-width: 960px) {
  div.project {
    width: 90%;
    max-width: 100%;
  }
}
div.project h3.title {
  font-family: "nitti_medium";
  font-size: 1.6em;
  line-height: 1.2em;
  margin-bottom: 1em;
  width: 70%;
}
@media only screen and (max-width: 960px) {
  div.project h3.title {
    width: 100%;
    font-size: 1.1em;
  }
}
div.project p.quote {
  width: 70%;
  border-left: solid 1px red;
  padding: 0 1em;
}
@media only screen and (max-width: 960px) {
  div.project p.quote {
    width: 95%;
    font-size: 0.8em;
  }
}
div.project p.quote span {
  font-weight: bold;
  font-style: normal;
  margin-top: 1em;
}

#slide1 p.quote {
  border-left: solid 1px #232323;
}

#slide2 p.quote {
  border-left: solid 1px #7bb000;
}

#slide3 p.quote {
  border-left: solid 1px #e90d8a;
}
